.navbar-light .navbar-nav .nav-link {
    color: $colour-primary;
    font-family: $font-primary;
    font-size: 22px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e65a25;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    transition: 0.25s;
}

.logo-text {
    font-family: $font-logo;
}

#sol {
    font-weight: 600;
    color: #f0a54b;
}

#hjerter {
    font-weight: 900;
}

.logo-text:hover {
    color: $colour-primary;
    text-decoration: none;
}

.navbar-logo {
    width: 40%;
}

.navbar-icon {
    display: none;
}

.navbar-light .navbar-brand {
    color: $colour-primary;
    font-size: 28px;
    font-family: $font-primary;
}

.navbar-light .navbar-brand:hover {
    color: #e65a25;

}

body {
    background: rgb(2,0,36);
background: -moz-radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(171,169,165,0.16150210084033612) 67%, rgba(195,193,190,0.1026785714285714) 100%);
background: -webkit-radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(171,169,165,0.16150210084033612) 67%, rgba(195,193,190,0.1026785714285714) 100%);
background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(171,169,165,0.16150210084033612) 67%, rgba(195,193,190,0.1026785714285714) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#c3c1be",GradientType=1);
}

@media screen and (max-width: 991px) {
    .navbar-logo {
        display: none;
    }

    .navbar-icon {
        display: none;
        width: 55%;

    }
}